.subreddit {
    background-color: @theme_base_color;
}

.quote {
    border: 1px solid @borders;
    background-color: @theme_base_color;
}

.notebook {
    background-color: @theme_bg_color;
}

.notebook_tabs {
    background-color: @theme_base_color;
}

.table_cell {
    border: 1px groove @borders;
}

.table_header {
    border: 1px outset @borders;
}

.subreddit_text {
    color: #EF2929;
}

.username_text {
    color: #729FCF;
}

.moderator_text {
    color: #00b33c;
}

.op_text {
    color: #ff6600;
}

.upvote {
    color: #ef7238;
}

.downvote {
    color: #577ce7;
}

.remove_bookmark {
    color: #de1f1f;
}

.video_player {
    background-color: #000000;
}

.no_rounded_corners {
    border-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no_rounded_corners list.content > row {
    border-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no_rounded_corners list.content {
    border-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.image {
    transition: .2s ease-in-out opacity, border-color;
}

.image:hover {
    opacity: .8;
}

.submit_post_text_view {
    border: 1px solid @borders;
}

button.nsfw_button:checked { background-color: #DE0070; }
button.spoiler_button:checked { background-color: #FA19BF; }

.card .quote
{
    border: 1px solid @borders;
    background-color: @theme_bg_color;
}


.notify-badge {
    background-color: @theme_selected_bg_color;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    border-radius: 10px;
    min-width: 0.7em;
    padding: 2px 5px;
}

.video-controls {
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 12px;
}

.video-control {
    color: white;
}
